.signup{
    height: 100vh;
}

.body{
    height: 93.6%;
    padding: 0;
    margin: 0;
}
.Or p{
    color: var(--secondaryColor);
    font-weight: 600;
}
.Or p::before{
  content: "";
  width: 150px;
  height: 2px;
  background-color: var(--secondaryColor);
  position:absolute;
  right: 30px;
  top: 10px;

}
.Or p::after{
    content: "";
    width: 150px;
    height: 2px;
    background-color: var(--secondaryColor);
    position:absolute;
    left: 30px;
    top: 10px;
  
  }
  .noPhoto{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #ccc;
    position: relative;
}
  .photo img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

  
  .pen-icon {
    font-size: 1.5rem;
    color: var(--primaryColor);
    margin-top: 5px;
  }
  
  .photo {
    width: 140px;
    height: 140px;
    position: relative;
  }
  
  .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .custom-btn {
    display: inline-block;
   color: var(--primaryColor);
   border: 1px solid var(--primaryColor);
   height: 38px

 }
.body .left{
    width: 50%;
    background-color: var(--primaryColor);
    overflow: hidden;
    display: flex;
}
.body .left .logo h1{
    font-size: 80px;
    font-family: var(--logoFont);
    font-weight: 800;

}
.signup .form1 .fa-arrow-left{
    font-size: 25px;
    cursor: pointer;
    color: var(--primaryColor);
}
.logo i{
    font-size: 70px;
    display: block;
    position: relative;
    left: 40%;
}
@media (min-width:699px) and (max-width:998px){
    .body{
        width: 100%;
        justify-content: space-between;
       
    }
   .body .left{
    width: 40%; 
}
.body .left .logo h1{
    font-size: 68px;
}
}
@media(max-width:698px) {
    .body{
        width: 100%;
       
       
    }
   .body .left{
   display: none;
   }
   
.signup{
    height: 100vh;
}

.body{
    height: 93.6%;
    padding: 0;
    margin: 0;
}
.Or p{
    color: var(--secondaryColor);
    font-weight: 600;
}
.Or p::before{
  content: "";
  width: 150px;
  height: 2px;
  background-color: var(--secondaryColor);
  position:absolute;
  right: 30px;
  top: 10px;

}
.Or p::after{
    content: "";
    width: 150px;
    height: 2px;
    background-color: var(--secondaryColor);
    position:absolute;
    left: 30px;
    top: 10px;
  
  }



.body .left{
    width: 50%;
    background-color: var(--primaryColor);
    overflow: hidden;
    display: flex;
}
.body .left .logo h1{
    font-size: 80px;
    font-family: var(--logoFont);
    font-weight: 800;

}
.logo i{
    font-size: 70px;
    display: block;
    position: relative;
    left: 40%;
}
@media (min-width:699px) and (max-width:998px){
    .body{
        width: 100%;
        justify-content: space-between;
       
    }
   .body .left{
    width: 40%; 
}
.body .left .logo h1{
    font-size: 68px;
}
}
@media(max-width:698px) {
    .body{
        width: 100%;
       
       
    }
   .body .left{
   display: none;
   }
   
}}

.form2 .btn{
    background-color: #dbd5d5b4;
    padding: 10px 30px;

}
.form1 .badge{
    font-size: 14px !important;
    color: #fff !important;
    background-color: var(--primaryColor) !important;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    border-radius: 40px !important;
    align-items: center;
}
.btn-close{
    font-size: 10px;
}
.form3 label,.form2 label,.form4 label{
    font-size: 14px;
    color: var(--secondaryColor);
}
.form4 input::placeholder{
    font-size: 14px;
}