.splash .left img {
    width: 600px;
    margin-bottom: 30px;
}

.right img {
    width: 600px;
}

.splash .right h2 {
    font-weight: 800;
    font-size: 30px;
    color: var(--primaryColor);
    font-family: Arial, Helvetica, sans-serif;
}

.right p {
    font-size: 16px;
    font-weight: 500;
}

.right p span {
    font-weight: 700;
    color: var(--primaryColor);
}

.splash .Btn {
    background-color: var(--primaryColor);
    padding: 10px 100px;
    display: block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Btn a {
    color: #fff;
}

/* Button hover effect */
.splash .Btn:hover {
    background-color: var(--primaryColor);
    transform: translateY(-3px);
}
