

.navbar-brand img {
    
    width:161px;
}

.nav-link {
 color: #6B6969 !important;
 font-size: 16px !important;
 font-weight: 500 !important;
}
.nav-link:focus {
    color: var(--primaryColor) !important;

   }
 .nav-item i{
    font-size: 23px;
    color: #6B6969;
 }
 .profile{
    color: var(--primaryColor) !important;
    background-color: #EDF1FF !important;
    font-weight: 600;
 }